@import url("https://use.typekit.net/cht3zww.css");

body {
  background-color: #2A3038;
  color: #ffffff;
}

.content-wrapper {
  margin-bottom: 20px;
}

.menu {
  background-color: #0069b4;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.menu ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 10px 0 0;
}

.menu ul li a, .menu ul li a:visited {
  color: #fbecb0;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

header {

}

h1 {
  font-family: "industry", sans-serif;
}

h2 {
  text-align: left;
  margin-bottom: 40px;
  margin-left: 35%;
  font-family: "Mouse Memoirs", sans-serif;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

h2 .lead {
  font-size: 1.7em;
}

h2 .remaining {
  font-size: 2.1em;
}

.headline {
  height: 200px;
}

img.earth {
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
}

.logo-and-name {
  margin-top: 40px;
  overflow: auto;
  text-align: center;
}

.logo-and-name h1 {
  font-size: 1.5em;
}

img.logo {
  height: 90px;
  width: 90px;
}

img.mars {
  height: 80px;
  margin-top: 100px;
  margin-left: 20px;
  width: 80px;
}

.deco {
  height: 200px;
}

.deco img.sun {
  height: 80px
  margin-top: 60px;
  width: 80px;
}

.deco img.comet {
  height: 80px;
  margin-top: 30px;
  margin-left: 30px;
  width: 80px;
}

.abilities {
  text-align: center
}

img.how-we-work-illustration {
  height: 600px;
  width: 600px;
}

.tools {
  background-color: #005F6F;
  text-align: center
}

img.tools-we-use-illustration {
  height: 600px;
  width: 600px;
}

.contact {
  background-color: #fff8e2;
  text-align: left;
}

.contact h2 {
  color: #e17e34;
}

.contact .contact-form-wrapper {
  background: url("../images/contact-form-background.svg") no-repeat center;
  height: 500px;
  padding-top: 75px;
  width: 100%;
}

.contact form {
  margin: 0 auto;
  width: 300px;
}

.contact button {
  margin: 72px 0 0 190px;
  color: #665d5b;
  background-color: #dca146;
  border-color: #665d5b;
  border-width: 5px;
  width: 180px;
}

footer {
  background-color: #262A31;
  text-align: center;
}

.contact-info {
  padding-top: 50px;
  padding-bottom: 20px;
}

.contact-info a {
  color: #ffffff;
}

footer .copyright {
  font-family: sans-serif;
  font-size: .75em;
  padding-bottom: 20px;
}
