.tools {
  background-color: #005F6F;
  text-align: center;
}

.tools img.tools-we-use-illustration {
  height: 600px;
  width: 600px;
}

@media(max-width: 768px) {
  .tools  img.tools-we-use-illustration {
    font-family: "industry", "sans-serif";
    height: 100%;
    width: 100%;
  }
}

@media(min-width: 800px) {

}
